


/**/

.MuiPaper-root{
    margin:  0 2% !important;
}


/*      Infected          */


.Infected{

    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}





/*      Recovered          */

.Recovered{

    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}




/*      Deaths          */

.Deaths{

    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}




/**/
.container .MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 0;
}


.MuiTypography-root.TypeOfCovid{
    font-weight: bolder;
    text-align-last: center;
}


.MuiTypography-root.TypeOfCovid-Infected{
    color: rgba(0, 0, 255, 0.7);
}

.MuiTypography-root.TypeOfCovid-Recovered{
    color:   rgba(0, 145, 0, 1);
}

.MuiTypography-root.TypeOfCovid-Deaths{
    color:  rgba(255, 0, 0, 0.7);
}

.MuiCardContent-root:last-child{
    padding: 14px;
}