@import './_global';
@import './Covid-19';
@import './errors';
@import './Cards';
@import './Countries';
@import './Header';
@import './Chart';
@import './Footer';




/************************
    1. Variables
************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/************************
    2. General
************************/


body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden !important;
  font-size: 15px;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2 !important;
  font-weight: 600 !important;
}

::-moz-selection {
  background: #3e4349;
  color: #ffffff;
}

::selection {
  background: #3e4349;
  color: #ffffff;
}

a {
  text-decoration: none !important;
}

p {
  line-height: 1.6;
}

